<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-2 w-50">
    <div class="card bg-warning text-dark bg-gradient">
        <div class="card-header bg-gradient bg-info text-black justify-content-center">Saisie d'une section</div>
    <div class="card-body">
        <form th:action="@{SaveSection}" method="post" th:object="${section}">
            <div class="form-group w-auto">
                <label class="control-label">Nom Section</label>
                <input type="text" th:field="*{nom}" class="form-control"/>
                <span class="text-danger" th:errors="*{nom}"></span>
            </div>
            <div class="form-group w-auto">
                <label class="control-label">Filiere</label>
                <input type="text" th:field="*{filiere}" class="form-control"/>
                <span class="text-danger" th:errors="*{filiere}"></span>
            </div>
            <div class="form-group w-auto">
                <label class="control-label">Session</label>
                <input type="text" th:field="*{session}" class="form-control"/>
                <span class="text-danger" th:errors="*{session}"></span>
            </div>
            <div class="form-group w-auto">
                <label class="control-label">Semestre</label>
                <input type="text" th:field="*{semestre}" class="form-control"/>
                <span class="text-danger" th:errors="*{semestre}"></span>
            </div><div>
            <button type="submit" class="btn btn-primary">Save</button>
            <span></span>
        </div>
        </form>
    </div>
</div>
</div>
</body>
</html>